.showcase-container {
  width: 95%;
  margin-top: 45px;
  margin: 50px auto;

  .showcase {
    display: grid;
    width: 100%;
    margin: auto;
    gap: 1.3vw 1.3vw;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;

    @media only screen and (max-width: 480px) {
      gap: 2.65vw 2.65vw;
      grid-template-columns: auto !important;
    }

    figure {
      display: block;
      overflow: hidden;
      position: relative;
      margin: 0;

      @media only screen and (max-width: 480px) {
        margin-bottom: 10px;
      }

      .image-info {
        position: absolute;
        bottom: 0;
        right: 0;
        color: black;
        background: #eee;
        opacity: 0.7;
        padding: 5px 10px 5px 10px;
      }

      .samantha-img {
        bottom: 5px;
      }
      @media only screen and (max-width: 768px) {
        .samantha-img {
          bottom: 0;
        }
      }
      @media only screen and (max-width: 425px) {
        .samantha-img,
        .neha-img {
          bottom: 15px;
        }
      }
      @media only screen and (max-width: 320px) {
        .samantha-img,
        .neha-img {
          bottom: 10px;
        }
      }

      .imageBox {
        border-color: rgb(0, 0, 0);
        // height: 22.79vw;
        height: 30.38vw;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        @media only screen and (max-width: 480px) {
          height: 100vw !important;
        }

        img {
          display: block;
          border-color: rgb(0, 0, 0);
          opacity: 1;
          width: auto;
        }

        img.smallerRatio {
          min-width: 100%;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
